:root {
  --event-main-color: #f8c456;
}

.events-page-heading {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--event-main-color);
  text-align: left;
  font-size: 5rem;
  padding: 2.5rem;
  margin-left: 3rem;
  letter-spacing: 2.5px;
  z-index: 50;
  margin-top: 50px;
  font-family: "Android 101";
  text-shadow: 0 0 7.5px var(--event-main-color);
}

@media (max-width: 600px) {
  .events-page-heading {
    font-size: 3rem;
    padding: 2rem;
    margin-left: 0px;
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 5rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.loading {
  /* font-size: 2.5rem; */
  /* color: #f8c456; */
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
