.page {
  min-height: 100vh;
  background-size: contain;
  padding-left: 10vh;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
}

.section1 {
  min-height: 100vh !important;
  padding-bottom: 10px;
  display: flex;
}

.mainlogo {
  justify-content: center;
  align-self: center;
  width: 60%;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  overflow-x: clip;
}
@media(max-width:700px){
  .mainlogo{
    width: 75%;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}
  .social-icons{
    transform: scale(1.5) translateY(25px);
    -webkit-transform: scale(1.5) translateY(25px);
    -moz-transform: scale(1.5) translateY(25px);
    -ms-transform: scale(1.5) translateY(25px);
    -o-transform: scale(1.5) translateY(25px);
}
}
.social-icons {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 30px;
}
.home-icons {
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
}
.home-icons svg {
  color: white;
  height: 100%;
  width: 100%;
}
.section1-plus {
  position: absolute;
  width: 25vw;
  top: 15vh;
  right: 5vw;
}

.section1-rightrectangle {
  position: absolute;
  top: 25vh;
  right: 0;
  height: 40vh;
  /* width: 3vw; */
}

.section1-scrolldown {
  position: absolute;
  cursor: pointer;
  bottom: 6vh;
  left: 50vw;
  width: max(20vw, 150px);
  transform: translateX(-50%);
}

.section1-bottomleftgraphic {
  position: absolute;
  left: max(10vw, 70px);
  bottom: max(10vh, 50px);
  height: 15vh;
}

.section1-register {
  position: absolute;
  right: 6vw;
  bottom: max(10vh, 50px);
  width: max(15vw, 200px);
  
}
@media(max-width:700px)
{
  .section1-register{
    transform: translate(-25px, -25px) scale(1.1);
    -webkit-transform: translate(-25px, -25px) scale(1.1);
    -moz-transform: translate(-25px, -25px) scale(1.1);
    -ms-transform: translate(-25px, -25px) scale(1.1);
    -o-transform: translate(-25px, -25px) scale(1.1);
}
}
.section1-register:hover{
  cursor: pointer;
}

.fixed-logo {
  display: none;
  position: fixed;
  top: 2%;
  right: 0%;
  height: 170px;
  aspect-ratio: 1 / 1;
  z-index: 1000;
}@media (max-width: 600px) {
  .fixed-logo {
    height: 150px;
  }
}
.fixed-logo-visible {
  display: unset;
  /* background-color: red; */
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: max(7vh, 3vw);
  aspect-ratio: 1 / 1;
  z-index: 10;
  cursor: pointer;
}
.back-to-top-visible {
  display: unset;
}
@media screen and (max-width: 450px) {
  .social-icons {
    display: flex;
  }
  .page {
    padding-left: 0;
  }
}
