.page {
  min-height: 100vh;
  background-size: contain;
  padding-left: 10vh;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
}

.section1 {
  min-height: 100vh !important;
  padding-bottom: 10px;
  display: flex;
}

.mainlogo {
  padding-top: 100px;
  justify-content: center;
  align-self: center;
  width: 60%;
  margin-bottom: 9vh;
  margin-left: auto;
  margin-right: auto;
  overflow-x: clip;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
}
@media (max-width: 700px) {
  .mainlogo {
    width: 60%;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
  .social-icons {
    transform: scale(1.25) translateY(25px);
    -webkit-transform: scale(1.25) translateY(25px);
    -moz-transform: scale(1.25) translateY(25px);
    -ms-transform: scale(1.25) translateY(25px);
    -o-transform: scale(1.25) translateY(25px);
  }
}
.social-icons {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 30px;
}
.home-icons {
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
  transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
}
.home-icons svg {
  color: white;
  height: 90%;
  width: 90%;
}
.section1-plus {
  position: absolute;
  width: 25vw;
  top: 15vh;
  right: 5vw;
}

.section1-rightrectangle {
  position: absolute;
  top: 25vh;
  right: 0;
  height: 40vh;
  /* width: 3vw; */
}

.section1-scrolldown {
  position: absolute;
  cursor: pointer;
  bottom: 6vh;
  left: 50vw;
  width: max(20vw, 150px);
  transform: translateX(-50%);
}

.section1-bottomleftgraphic {
  position: absolute;
  left: max(10vw, 70px);
  bottom: max(10vh, 50px);
  height: 15vh;
}

.section1-register {
  z-index: 1000000;
  position: absolute;
  font-size: 1.5rem;
  right: 3%;
  /* top: max(10vh, 150px); */
  top: 10%;
  width: 150px;
  /* width: max(15vw, 200px); */
  color: black;
  background-color: #f8e856;
  border: 2px solid #f8e856;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Android 101";
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  font-weight: normal;
  box-shadow: 0 0 25px #ffbb3c;
  z-index: 111!important;
}
.section1-register:hover {
  background-color: black;
  color: #f8e856;
  cursor: pointer;
  transform: translateY(-7.5px);
  -webkit-transform: translateY(-7.5px);
  -moz-transform: translateY(-7.5px);
  -ms-transform: translateY(-7.5px);
  -o-transform: translateY(-7.5px);
}

.section1-register:active {
  transform: translateY(-2.5px);
  -webkit-transform: translateY(-2.5px);
  -moz-transform: translateY(-2.5px);
  -ms-transform: translateY(-2.5px);
  -o-transform: translateY(-2.5px);
}
@media (max-width: 800px) {
  .section1-register {
    font-size: 1.3rem;
    /* right: 10vw;
    top: 100px; */
    top:5%;
  }
}

.fixed-logo {
  display: none;
  position: fixed;
  top: 7.5px;
  height: 170px;
  aspect-ratio: 1 / 1;
  z-index: 1000;
  right: 25px;
  top: 10px;

  font-family: "Android 101" !important;
}
@media (max-width: 600px) {
  .fixed-logo {
    height: 150px;
  }
}
.fixed-logo-visible {
  display: unset;
  /* background-color: red; */
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: max(7vh, 3vw);
  aspect-ratio: 1 / 1;
  z-index: 10;
  cursor: pointer;
}
.back-to-top:hover{
  transform: scale(1.05);
}
.back-to-top:active{
  transform: scale(0.95);
}
.back-to-top-visible {
  display: unset;
}
@media screen and (max-width: 450px) {
  .social-icons {
    display: flex;
    /* width: 25px; */
  }
  .page {
    padding-left: 0;
  }
}
